#signupSong {
  display: flex;
  justify-content: 50%;
  flex-direction: row;
  justify-content: center;
}

#containerSong {
  display: flex;
  flex-direction: column;
}

.inputSong {
  display:flex;
  flex-direction:row;
  justify-content: space-between
}
