#nav {
  padding: 10px
}

.navigation {
  display: flex;
  flex-direction: row;
}

#profileButton {
  display: flex;
  flex-direction: column;
}

#allLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#mainLinks {
  display: flex;
  justify-content: center;
}
